<html lang = "fr">
<head>
    <%- include('../partials/head'); %>
    <script src = "js/adduser.js" defer></script>
</head>

<body>
    <nav>
        <div id = "nav-left">
            <a href = "/"><img src = "images/home.png" height = "70" alt = "Home"></img></a>
        </div>
        <div id = "nav-mid">
            <a href = "/users">Liste</a>
        </div>
    </nav>
</body>

</html>