<html lang = "fr">
<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <div id = "wrapper">
        <table id = "tableau">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>EMAIL</th>
                    <th>PRENOM</th>
                    <th>NOM</th>
                    <th>ENTREPRISE</th>
                    <th>PAYS</th>
                    <th>DATE DE CREATION</th>
                </tr>
            </thead>
            <tbody>
                <%-include("../partials/tablebody"); %>
            </tbody>
        </table>
        <p>SALUT LA TEAM</p>
        <br>
        
        <footer>
            <%-include("../partials/footer"); %>
        </footer>
    </div>
</body>
</html>