<html lang = "fr">
<head>
    <%- include('../partials/head'); %>
    
    <script src = "js/script.js" defer></script>
</head>

<body>
    <nav>
        <div id = "nav-left">
            <a href = "/"><img src = "images/home.png" height = "70" alt = "Home"></img></a>
        </div>
        <div id = "nav-mid">
            <a href = "/users">Liste</a>
        </div>
    </nav>



    <div id = "wrapper">
        <div id = wrapper-button> 
            <img id = "first" src = "images/double-arrow.png" height = "70" onclick = "changePage('first')">
            <img id = "prev" src = "images/arrow.png" height = "70" onclick = "changePage('prev')">
            <h3 id = "page">1</h3>
            <img id = "next" src = "images/arrow.png" height = "70" onclick = "changePage('next')">
            <img id = "last" src = "images/double-arrow.png" height = "70" onclick = "changePage('last')">
        </div>
        <table id = "tableau">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>EMAIL</th>
                    <th>PRENOM</th>
                    <th>NOM</th>
                    <th>ENTREPRISE</th>
                    <th>PAYS</th>
                    <th>DATE DE CREATION</th>
                </tr>
            </thead>
            <tbody id = "users">
            </tbody>
        </table>


        <footer>
            <%-include("../partials/footer"); %>
        </footer>

        
    </div>
</body>
</html>