<html lang = "fr">
<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <nav>
        <div id = "nav-left">
            <a href = "/"><img src = "images/home.png" height = "70" alt = "Home"></img></a>
        </div>
        <div id = "nav-mid">
            <a href = "#"onclick = "displayForm()">Ajouter</a>
        </div>
    </nav>

    <div id = "form">
        <div class = "wrapper-cross"><img id = "cross" src = "images/cross.png" height = "50" onclick = "displayForm()"></div>
        <div class = "wrapper">
            <label for = "user-first">Prénom</label>
            <input type = "text" placeholder = "Jean" id = "user-first">
            <label for = "user-last">Nom</label>
            <input type = "text" placeholder = "Dupont" id = "user-last">
            <label for = "user-email">Email</label>
            <input type = "user-email" placeholder = "dupont.jean@gmail.xyz" id = "user-email">
            <label for = "user-country" >Pays</label>
            <input type = "text" placeholder = "France" id = "user-country">
            <label for = "user-company">Entreprise</label>
            <input type = "text" placeholder="Appeule" id = "user-company">
        </div>
        <div id = "confirm-form" onclick = "confirmForm()">Confirmer</div>
    </div>
    

    <div id = "wrapper">
        <div id = wrapper-button> 
            <img id = "first" src = "images/double-arrow.png" height = "70" onclick = "changePage('first')">
            <img id = "prev" src = "images/arrow.png" height = "70" onclick = "changePage('prev')">
            <h3 id = "page">1</h3>
            <img id = "next" src = "images/arrow.png" height = "70" onclick = "changePage('next')">
            <img id = "last" src = "images/double-arrow.png" height = "70" onclick = "changePage('last')">
        </div>
        <table id = "tableau">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>PRENOM</th>
                    <th>NOM</th>
                    <th>EMAIL</th>
                    <th>ENTREPRISE</th>
                    <th>PAYS</th>
                    <th>DATE DE CREATION</th>
                </tr>
            </thead>
            <tbody id = "users">
            </tbody>
        </table>


        <footer>
            <%-include("../partials/footer"); %>
        </footer>

        
    </div>
</body>
</html>